* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-size: 16px;
    line-height: 1.7;
    font-family: 'Mukta', sans-serif;
    background-image: linear-gradient(135deg, rgba(140, 137, 184, 1) 0%, rgba(230, 164, 164, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

.grid__container {
    display: grid;
    margin: 3em auto;
    margin-bottom: 2em;

    row-gap: 3em;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'one two'
        'three four'
        'five six'
        'seven eight'
        'nine ten'
        'eleven twelve'
        'thirteen fourteen'
        'fifteen sixteen'
        'seventeen eighteen'
        'nineteen twenty';
}

.movie__div:nth-child(1) {
    grid-area: one;
}

.movie__div:nth-child(2) {
    grid-area: two;
}

.movie__div:nth-child(3) {
    grid-area: three;
}

.movie__div:nth-child(4) {
    grid-area: four;
}

.movie__div:nth-child(5) {
    grid-area: five;
}

.movie__div:nth-child(6) {
    grid-area: six;
}

.movie__div:nth-child(7) {
    grid-area: seven;
}

.movie__div:nth-child(8) {
    grid-area: eight;
}

.movie__div:nth-child(9) {
    grid-area: nine;
}

.movie__div:nth-child(10) {
    grid-area: ten;
}

.movie__div:nth-child(11) {
    grid-area: eleven;
}

.movie__div:nth-child(12) {
    grid-area: twelve;
}

.movie__div:nth-child(13) {
    grid-area: thirteen;
}

.movie__div:nth-child(14) {
    grid-area: fourteen;
}

.movie__div:nth-child(15) {
    grid-area: fifteen;
}

.movie__div:nth-child(16) {
    grid-area: sixteen;
}

.movie__div:nth-child(17) {
    grid-area: seventeen;
}

.movie__div:nth-child(18) {
    grid-area: eighteen;
}

.movie__div:nth-child(19) {
    grid-area: nineteen;
}

.movie__div:nth-child(20) {
    grid-area: twenty;
}

.navbar-dark {
    background-color: rgba(37, 70, 90, 0.219) !important;
}

.footer__text__links {
    text-decoration: none;
    color: rgba(11, 42, 72, 0.695);
}

.footer__text {
    color: rgba(11, 42, 72, 0.695);
}

.footer__text__links:hover {
    color: rgb(11, 41, 72);
}

#form {
    margin-left: 25%;
    max-width: 50%;
}

.search__bar {
    border: 2px solid rgb(49, 175, 195);
}

.movie__div {
    text-align: center;
    display: flex;
    justify-content: center;
}

.details__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__div {
    max-width: 10em;
}
.no__text__decoration{
    text-decoration: none;
}
.small__text {
    font-size: 1em;
    font-weight: 300;
    color: rgba(11, 42, 72, 0.695);
}

.title__text {
    font-weight: 600;
    font-size: 1em;
    color: rgb(11, 43, 72);
}

.img__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

}

.transform__container {
    width: 75%;
    transition: all ease-in-out 0.3s;
}

.transform__container:hover {
    transform: scale(1.04);
}

.img__div {
    max-width: 10em;
    min-height: 15em;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid rgb(86, 209, 203);
    border-radius: 0.5em;
    box-shadow: 2px 2px 20px 10px rgba(72, 72, 72, 0.307);
    transition: all ease-in-out 0.3s;

}

.img__div:hover {
    box-shadow: 2px 2px 23px 15px rgba(72, 72, 72, 0.307);
}

.img__src {
    max-width: 100%;
    min-height: 100%;
}

@media(min-width:650px) {
    .grid__container {
        grid-template-areas:
            'one two three'
            'four five six'
            'seven eight nine'
            'ten eleven twelve'
            'thirteen fourteen fifteen'
            'sixteen seventeen eighteen'
            'nineteen twenty twentyone';
    }
}

@media(min-width:860px) {
    .grid__container {
        grid-template-areas:
            'one two three four'
            'five six seven eight'
            'nine ten eleven twelve'
            'thirteen fourteen fifteen sixteen'
            'seventeen eighteen nineteen twenty'
    }
}

@media(min-width:992px) {
    .img__div {
        max-width: 14em;
        min-height: 18em;
    }
}