* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Mukta', sans-serif;
}

.text__start {
    text-align: start;
}

.text__dim {
    opacity: 0.5;
}
.navbar-dark{
    background-color:rgba(23, 44, 49, 0.9) !important;
    
}

.card {
    color: rgb(255, 255, 255);
    --bs-card-bg: rgba(0, 0, 0, 0);
    --bs-card-border-color: rgba(0, 0, 0, 0);

}

.card__img {
    position: relative;
    border-radius: 0.5em;
    border: solid 2px rgb(54, 220, 232);
    overflow: hidden;
    max-width: 10rem;
}
.card__effect{
    background-color: rgba(204, 191, 177, 0.475);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    top: 0;
}

.imdb__img{
    min-height: 1.2em;
}


.ytdiv {
    max-width: 100%;
    min-height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
}

.ytvideo {
    max-width: 100%;
    min-height: 100%;
    border-radius: 0.5em;
    border: solid 2px rgb(122, 130, 131);
}

.torrentbtn {
    /* grid-row: 1/4; */
    text-align: center;
    padding: .1em 0;
    border-radius: .5em;
    text-align: center;
    background-color: rgba(141, 135, 135, 0.332);
    max-width: 50%;
    opacity: 70%;
}

.torrentbtn:hover{
    opacity: 100%;
    
}
.download__btn{
    background-color: rgba(141, 135, 135, 0.332);
    text-align: center;
    padding: 0.1em 0.3em;
    border-radius: .5em;
    color: rgb(255, 255, 255);
}
.download__btn:hover{
    opacity: 100%;
}

.download__btns__div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
}
.magnet__btn{
    opacity: 100%;
}

.torrentcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5em;
    border-radius: .5em;
    border: solid 2px rgb(122, 130, 131);
    gap: .5em;
    background-color: rgba(79, 79, 84, 0.175);
}

.text__light_dim {
    opacity: 0.8;
}

.torrentbtndiv {
    grid-column: 1;
}

.torrent__row__1 {
    grid-column: 2/3;
    text-align: center;
}

.torrent__row__2 {
    text-align: center;
}


.selectedbtn {
    background-color: rgb(114, 108, 108);
    opacity: 100%;
}

.carousel__div {
    border-radius: 1em;
    overflow: hidden;
    margin: 0 1em;

}

.carousel {
    max-height: 20em;

}
.cast__data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0.5em 0;
    
}

.cast__img{
    grid-column: 1;
    border-radius: 50%;
    border: 2px solid rgb(185, 180, 180);
}
.cast__name{
    grid-column: 2/4;
}
.cast__container{
    padding: 0.5em 0;
    background-color: rgba(79, 79, 84, 0.175);
    border-radius: .5em;
    border: solid 2px rgb(122, 130, 131);
}
.cast__name__div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cast__link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 50%;
}
.cast__link:hover{
    color: rgb(255, 255, 255);
    opacity: 100%;
}


/* .container_full {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.card:nth-of-type(4) {
    grid-column: 1/3;
}

.card:nth-of-type(6) {
    grid-column: 1/3;
}


@media(max-width:768px){
    .container_full {
        grid-template-columns: 1fr;
    }
} */
.container_full {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    margin: 3em 1em;
    margin-bottom: 2em;

    grid-template-areas:
        'one two'
        'four four'
        'three three'
        'seven seven'
        'six six'
        'five five';
}

.card:nth-child(1) {
    display: flex;
    align-items: center;
    margin-top: 2em;
    grid-area: one;
}

.card:nth-child(2) {
    margin-top: 2em;
    grid-area: two;
}

.card:nth-child(3) {
    text-align: center;
    grid-area: three;
    align-self: flex-start;
}

.card:nth-child(4) {
    grid-area: four;
}

.card:nth-child(5) {
    text-align: center;
    grid-area: five;
}

.card:nth-child(6) {
    text-align: center;
    grid-area: six;
}

.card:nth-child(7) {
    text-align: center;
    grid-area: seven;
    padding: 0 1em;
    
}



@media(width>890px) {
    .container_full {
        margin: 2em 3em;
        margin-bottom: 2em;
        grid-template-areas:
            'one two three'
            'four four seven'
            'six  five five'
    }

    .ytdiv {
        max-width: 100%;
        min-height: 20em;
    }

    .trailer__card__div {
        margin-top: 2em;
    }

    .poster__card__div {
        display: flex;
        align-items: center;
    }

    .titel__card__div {
        display: flex;
        align-items: flex-start;
    }
    .carousel__div{
        margin: 0 0;
    }
    .card__img {
       
        max-width: 15rem;
    }
}
.carousel__img{
    object-fit: fill;
}